@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fullscreen Video Background */
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
}

#home video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -2;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Home Content */
#home .content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
}

#home .content h1 {
  font-family: "Bakbak One", serif;
  font-size: 12rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  letter-spacing: 7px;
}

#home .content p {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#home .content p:last-child {
  font-size: 1rem;
  color: #ccc;
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 35px;
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px 50px;
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgba(255, 255, 255);
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 15px;
}

/* About Section */
#about h1, #generate h1 {
  font-family: "Bakbak One", serif;
  font-size: 4rem;
}

/* Cards */
.card {
  height: 70vh;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card-img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card-img-overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.card-title,
.card-text {
  color: white;
  font-family: "Montserrat", serif;
}

/* Generate Section */
.form-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

#generate img {
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 992px) {
  #home .content h1 {
    font-size: 8rem;
  }

  #home .content p {
    font-size: 1.25rem;
  }

  #home .content p:last-child {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-nav .nav-link {
    padding: 5px 30px;
  }

  #home .content h1 {
    font-size: 5rem;
  }

  #home .content p {
    font-size: 1rem;
  }

  #home .content p:last-child {
    font-size: 0.8rem;
  }

  #home .content {
    max-width: 90%;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  #home .content h1 {
    font-size: 4rem;
  }

  #home .content p {
    font-size: 0.9rem;
  }

  #home .content p:last-child {
    font-size: 0.7rem;
  }

  #home .content {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  .navbar .navbar-nav .nav-link {
    padding: 5px 20px;
  }

  #home .content h1 {
    font-size: 3.5rem;
  }

  #home .content p {
    font-size: 0.9rem;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  #home .content h1 {
    font-size: 3rem;
  }

  #home .content p {
    font-size: 0.8rem;
  }

  .navbar .navbar-nav .nav-link {
    padding: 5px 15px;
  }
}
