@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fullscreen Video Background */
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
}

#home video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -2;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Home Content */
#home .content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
}

#home .content h1 {
  font-family: "Bakbak One", serif;
  font-size: 12rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  letter-spacing: 7px;
}

#home .content p {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#home .content p:last-child {
  font-size: 1rem;
  color: #ccc;
}

/* Define the fade-in and slide-up animation */
/* Define the fade-in and slide-up animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0; /* Start invisible */
    transform: translateY(30px); /* Start below */
    visibility: hidden; /* Ensure it's hidden initially */
  }
  100% {
    opacity: 1; /* Become visible */
    transform: translateY(0); /* Move to original position */
    visibility: visible; /* Make it visible after the animation starts */
  }
}

#home .floating-card-container {
  opacity: 0; /* Make it invisible initially */
  visibility: hidden; /* Initially hidden */
  animation: fadeSlideUp 1.5s ease-out 1.5s forwards; /* Apply the animation with 1s delay */
}

#home .floating-card-container {
  display: flex;
  flex-direction: row;
  gap: 3px; /* Space between the cards */
  margin-left: 100px;
  margin-bottom: 25px;
}

#home .floating-card,
#home .floating-card-img {
  padding: 10px 30px;
  max-width: 320px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0%, rgba(199, 199, 199, 0.35) 35%, rgba(148, 148, 148, 0.15) 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1.1rem;
  backdrop-filter: blur(10px);
  opacity: 0.9;
  border: 1px solid rgba(147, 147, 147, 0.5);
  font-family: "Montserrat", serif;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#home .floating-card:hover,
#home .floating-card-img:hover {
  transform: scale(1.05);
  opacity: 1; /* Fully opaque on hover */
}

#home .floating-card .description {
  font-size: small;
}

#home .floating-card-img {
  position: relative;
  display: flex;
  flex-direction: column; /* Vertical alignment */
  align-items: center;    /* Center the images horizontally */  /* Set a fixed height for the div */
  justify-content: flex-start; /* Ensure images align to the top of the container */
}

#home .floating-card-img .overlapping-image {
  position: absolute;
  width: 40px; /* Smaller size */
  height: 40px; /* Smaller size */
  border-radius: 50%; /* Circular images */
  object-fit: cover; /* Ensures the image fits inside the circle */
  z-index: 1; /* Ensures the images stack */
}

#home .floating-card-img img:nth-child(1) {
  top: 0;
}

#home .floating-card-img img:nth-child(2) {
  top: 30px; /* Adjust the overlap as needed */
}

#home .floating-card-img img:nth-child(3) {
  top: 60px; /* Adjust the overlap as needed */
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 35px;
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px 50px;
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgba(255, 255, 255);
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 15px;
}

/* About Section */
#about h1, #generate h1, #result h1 {
  font-family: "Bakbak One", serif;
  font-size: 4rem;
}

/* Cards */
.card {
  height: 70vh;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card-img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card-img-overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.card-title,
.card-text {
  color: white;
  font-family: "Montserrat", serif;
}

#about .card-text {
  font-size: small;
}

/* Generate Section */
/* #generate {
  height: 100vh;
} */

.form-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

#generate img {
  width: 100%;
}

#generate .button {
  padding: 10px;
  border-radius: 20px;
  background-color: #1B2A7B;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

#generate .button:hover {
  background-color: #293cab;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.05); /* Scale the button slightly on hover */
}


/* Contact Us Section*/
#contact {
  background-color: #1B2A7B;
  color: #fff;
  font-family: "Montserrat", serif;
}

#contact .email {
  padding-left: 8rem;
}

/* Result Section */
#result hr, #generate hr {
  border: none;
  height: 12px;
  background: #d7d7d7;
  margin: 20px 0;
  border-radius: 10px;
  margin-top: 35px;
}

/* Responsive Styles */
@media (max-width: 992px) {
  #home .content h1 {
    font-size: 8rem;
  }

  #home .content p {
    font-size: 1.25rem;
  }

  #home .content p:last-child {
    font-size: 0.9rem;
  }

  #home .floating-card-container {
    margin-left: 50px; /* Reset left margin on medium screens */
  }

  #home .floating-card,
  #home .floating-card-img {
    font-size: 1rem; /* Decrease font size for cards */
  }
}

@media (max-width: 768px) {
  .navbar .navbar-nav .nav-link {
    padding: 5px 30px;
  }

  #home .content h1 {
    font-size: 5rem;
  }

  #home .content p {
    font-size: 1rem;
  }

  #home .content p:last-child {
    font-size: 0.8rem;
  }

  #home .content {
    max-width: 90%;
    padding: 0.5rem;
  }

  #home .floating-card-container {
    margin-left: 30px; /* Reset left margin on small screens */
  }

  #home .floating-card,
  #home .floating-card-img {
    font-size: 1rem; /* Decrease font size for cards */
  }
}

@media (max-width: 576px) {
  #home .content h1 {
    font-size: 4rem;
  }

  #home .content p {
    font-size: 0.9rem;
  }

  #home .content p:last-child {
    font-size: 0.7rem;
  }

  #home .content {
    max-width: 95%;
  }

  #home .floating-card-container {
    margin-left: 20px; /* Reset left margin on very small screens */
  }

  #home .floating-card,
  #home .floating-card-img {
    font-size: 0.9rem; /* Further decrease font size for cards */
  }
}

@media (max-width: 480px) {
  .navbar .navbar-nav .nav-link {
    padding: 5px 20px;
  }

  #home .content h1 {
    font-size: 3.5rem;
  }

  #home .content p {
    font-size: 0.9rem;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  #home .floating-card-container {
    margin-left: 10px; /* Reset left margin on very small screens */
  }

  #home .floating-card,
  #home .floating-card-img {
    font-size: 0.8rem; /* Decrease font size even more */
  }
}

@media (max-width: 320px) {
  #home .content h1 {
    font-size: 3rem;
  }

  #home .content p {
    font-size: 0.8rem;
  }

  .navbar .navbar-nav .nav-link {
    padding: 5px 15px;
  }

  #home .floating-card-container {
    margin-left: 0; /* Reset left margin on ultra small screens */
  }

  #home .floating-card,
  #home .floating-card-img {
    font-size: 0.75rem; /* Reduce font size even further for small screens */
  }
}

