<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Underwater GAN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Left-aligned links (Home, About) -->
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#generate">Generate</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto"> <!-- Right-aligned link (Contact) -->
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>



<!-- Home Section -->
<section id="home">
  <video autoplay muted loop>
    <source src="../static/images/underwater.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <p class="m-0 fs-3 text fw-semibold">Generative Adversarial Networks</p>
    <h1 class="m-0">underwater</h1>
    <p class="m-0 fw-lighter">
      The website utilizes a Generative Adversarial Network (GAN) to create stunning underwater images. By harnessing advanced AI, users can generate diverse underwater scenes, featuring vibrant marine life, coral reefs, and mysterious ocean depths. Designed for artists, researchers, and enthusiasts, this tool offers an immersive experience in exploring AI-driven oceanic visuals.
    </p>
  </div>
  <div class="position-absolute bottom-0 start-0 d-flex flex-row">
    <div class="floating-card-container">
      <div class="floating-card">
        <p class="lh-1 text-start mt-2">
          <span class="fw-semibold">Discover GAN</span><br>
          <span class="fw-lighter description">Check out our machine project paper focusing on GAN using an underwater dataset. Read the paper <a href="https://c.tenor.com/9ZD1dDykaeUAAAAd/tenor.gif" class="text-decoration-none text-light text-decoration-underline" target="_blank">here</a>.</span>
        </p>
      </div>
      <div class="floating-card-img">
        <img src="../static/images/jellyfish.jpg" alt="Image 1" class="overlapping-image mt-2">
        <img src="../static/images/starfish.jpg" alt="Image 2" class="overlapping-image">
        <img src="../static/images/corals.jpg" alt="Image 3" class="overlapping-image">
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="py-5">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-12 col-md-2 text-center text-md-start">
        <h1>About</h1>
      </div>
      <div class="col-12 col-md-10">
        <p>Welcome to the Underwater Image Generator, a project developed as part of our final course project. Using advanced GAN models, we aim to apply cutting-edge AI technology to generate lifelike underwater scenes. Our platform creates diverse oceanic visuals, showcasing vibrant marine life, coral reefs, and the mysteries of the deep sea, providing an innovative tool for artists, researchers, and enthusiasts alike.</p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card text-bg-dark">
          <div class="card-img-wrapper">
            <img src="../static/images/1.jpg" class="card-img" alt="What is GAN?">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3">
            <h5 class="card-title">What is GAN?</h5>
            <p class="card-text">A Generative Adversarial Network (GAN) is a type of AI model that uses two neural networks to generate realistic images. One network creates images, while the other evaluates them, continuously improving until the generated visuals are indistinguishable from real ones</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card text-bg-dark">
          <div class="card-img-wrapper">
            <img src="../static/images/2.jpg" class="card-img" alt="Training the Model">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3">
            <h5 class="card-title">Training the Model</h5>
            <p class="card-text">We trained our underwater image generator using the Auxiliary Classifier GAN (ACGAN), which incorporates labels to produce more controlled and diverse images. This approach allowed us to generate realistic underwater scenes featuring categories like jellyfish, starfish, whales, dolphins, and corals.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card text-bg-dark">
          <div class="card-img-wrapper">
            <img src="../static/images/3.jpg" class="card-img" alt="Underwater Images">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3">
            <h5 class="card-title">Underwater Images</h5>
            <p class="card-text">The dataset used for training our model consists of diverse underwater images, categorized into five main classes: jellyfish, starfish, whales, dolphins, and corals. These images were carefully curated to provide a rich variety of marine life and oceanic environments, enabling the model to generate highly realistic and detailed underwater scenes.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card text-bg-dark">
          <div class="card-img-wrapper">
            <img src="../static/images/4.jpg" class="card-img" alt="How To Use The Model">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3">
            <h5 class="card-title">How To Use The Model</h5>
            <p class="card-text">To use the model, simply select your desired underwater category—jellyfish, starfish, whale, dolphin, or corals—and click the Generate Images button. The model will then create a realistic underwater scene based on the selected category, showcasing vibrant marine life and oceanic beauty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Generate Section -->
<section id="generate" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-7 pt-2 mb-4">
        <!-- <p>
          Create realistic underwater scenes with ease using our powerful GAN technology. Customize elements like water clarity, depth, and marine life to bring your unique vision to life. Whether for art, research, or exploration, this tool offers endless possibilities to dive into the ocean’s beauty.
        </p> -->
        <hr class="opacity-100">
      </div>
      <div class="col-md-5 text-end">
        <h1>Generate Images</h1>
      </div>
    </div>
    <div class="form-container">
      <div class="row">
        <div class="col-md-6">
          <img src="../static/images/image_72220.png" alt="generated image">
        </div>
        <div class="col-md-6 px-4 d-flex align-content-around flex-wrap justify-content-center">
          <p class="fst-italic">
            Bring the ocean to life with our image generator! Click the <span class="text-nowrap bg-body-secondary border">Generate Images</span> button to create stunning underwater scenes featuring lifelike jellyfish, starfish, whales, dolphins, and corals. Dive into creativity and explore the wonders of the sea.
          </p>
          <div class="mb-3">
            <label for="img_num" class="form-label">How many images would you like to generate?</label>
            <input type="number" class="form-control" id="img_num">
          </div>
          <div class="mb-3 d-grid gap-2mx-auto">
            <p>Clicking this button triggers the image generation process.</p>
          <button type="button" class="button px-5">Generate Images</button>
          </div>
          <p class="fw-light fst-italic">Once generated, your images will be displayed below. Get ready to dive into the depths!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Result Section -->
 <section id="result" class="py-3">
  <div class="container">
    <div class="d-flex">
      <div class="p-2"><h1>Results&ensp;</h1></div>
      <div class="p-2 flex-grow-1"><hr class="opacity-100"></div>
    </div>

    </div>
  </div>
 </section>

<!-- Contact Section -->
<section id="contact" class="pt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex">
          <div class="fw-bold pe-3">underwaterGAN</div>
          <div class="flex-fill pl-2 pe-5"><hr class="border-3 opacity-100 mt-2"></div>
        </div>
        <p class="fw-light mt-3 lh-sm">ITIM 85 Machine Project 2024</p>
      </div>
      <div class="col-md-4 pl-3 email">
        <p class="fw-bold">Contact Us</p>
        <p class="fw-light mt-0 p-0">underwatergan@gmail.com</p>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <i class="bi bi-github fs-3"></i> &ensp;&ensp;
        <i class="bi bi-facebook fs-3"></i> &ensp;&ensp;
        <i class="bi bi-instagram fs-3"></i>
      </div>
    </div>
    <hr>
    <p class="text-center">All Rights Reserved &copy; 2024</p>
</section>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
